- content_for :title, "Dependent"
- content_for :subtitle, "New dependent"
%article
  %section
    .for= @member.display
    .clear
    = render 'form'
    %p= link_to "Back to account", member_path(@member)
