- content_for :title "Dependent"
- content_for :subtitle "New dependent for #{link_to @member.badge, @member}"
%article
  %section
    = render 'form'
    %p
      = link_to "Back to List", member_dependents_path(@member)
