- content_for :title, "Independent"
- content_for :subtitle, "Editing independent"
%article
  %section
    .for= @member.display
    .clear
    = render 'form'
    %ol.links
      %li= link_to "Back to account", @member