form {
  font-size: 120%;
}
label {
  display: block;
}
label.hint {
  font-size: 70%;
}
fieldset {
  border: 2px groove white;
  margin: 10px 0;
}
legend {
  background-color: white;
  padding: 5px 10px;
}
input[type=tel],
input[type=email], 
input[type=text],
input[type=number],
input[type=password],
textarea, 
select {
  border-radius: 3px;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 3px;
  width: 99%;
}
textarea {
  height: 100px;
}
input[type=submit], input[type=button] {
  background-color: lightgray;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  margin: 5px 0;
  padding: 5px 10px;
  width: none;
}
input[type=submit]:hover {
  background-color: teal;
  color: white;
}
/* Tables styles */

form table {
  width: 100%;
  thead {
  
  }
  tbody {
    tr {
      th, td {
        padding: 5px 8px;
      }
      th {
        background-color: lightgray;
        text-align: left;
      }
      td {
        background-color: white;
      }
    }
  }
  tfoot {
  
  }
  input, textarea, select {
    border: 1px solid lightgray !important;
  }
}

form table#court {
  tbody {
    tr {
      td {
        background: white;
        border: 3px solid white;
        color: white;
        height: 110px;
        width: 75px;
        label {
          font-size: 180%;
          height: 70px;
        }
      }
      td.available {
        background-image: url('http://maxkramer.me/images/tennis_court.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 91px 120px;
      }
      td.available:hover {
        border-color: yellow;
      }
      td.unavailable {
        background-image: url('http://maxkramer.me/images/tennis_court_reserved.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 91px 120px;
        label {
          font-size: 95%;
          margin-top: 20px;
        }
      }
    }
  }
}

.for {
  background-color: white;
  border-radius: 5px;
  float: right;
  margin-right: 10px;
  padding: 10px;
}



/* Ninja styles */
p > input[type=radio],
p > input[type=checkbox] {
  float: left;
  height: 16px;
  opacity: 0;
}
p > input[type=radio] + label,
p > input[type=checkbox] + label {
	background: url(http://www.thecssninja.com/demo/css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat;
	height: 16px;
  padding-left: 20px;
}
p > input[type=radio] + label	{ 
  background-position: 0 -161px; 
}
/* Checked styles */
p > input[type=radio]:checked + label { 
  background-position: 0 -241px; 
}
p > input[type=checkbox]:checked + label { 
  background-position: 0 -81px; 
}
p > input[type=checkbox]:hover:checked + label,
p > input[type=checkbox]:focus:checked + label,
p > input[type=checkbox]:checked + label:hover,
p > input[type=checkbox]:focus:checked + label { 
  background-position: 0 -101px; 
}
p > input[type=radio]:hover:checked + label,
p > input[type=radio]:focus:checked + label,
p > input[type=radio]:checked + label:hover,
p > input[type=radio]:focus:checked + label { 
  background-position: 0 -261px; 
}
p > input[type=checkbox]:hover + label,
p > input[type=checkbox]:focus + label,
p > input[type=checkbox] + label:hover { 
  background-position: 0 -21px; 
}
p > input[type=radio]:hover + label,
p > input[type=radio]:focus + label,
p > input[type=radio] + label:hover	{ 
  background-position: 0 -181px; 
}
p > input[type=checkbox]:active + label,
p > input[type=checkbox] + label:hover:active					{ background-position: 0 -41px; }
p > input[type=radio]:active + label,
p > input[type=radio] + label:hover:active						{ background-position: 0 -201px; }
p > input[type=checkbox]:active:checked + label,
p > input[type=checkbox]:checked + label:hover:active			{ background-position: 0 -121px; }
p > input[type=radio]:active:checked + label,
p > input[type=radio]:checked + label:hover:active				{ background-position: 0 -281px; }
p > input[type=checkbox]:disabled + label,
p > input[type=checkbox]:hover:disabled + label,
p > input[type=checkbox]:focus:disabled + label,
p > input[type=checkbox]:disabled + label:hover,
p > input[type=checkbox]:disabled + label:hover:active			{ background-position: 0 -61px; }
p > input[type=radio]:disabled + label,
p > input[type=radio]:hover:disabled + label,
p > input[type=radio]:focus:disabled + label,
p > input[type=radio]:disabled + label:hover,
p > input[type=radio]:disabled + label:hover:active				{ background-position: 0 -221px; }
p > input[type=checkbox]:disabled:checked + label,
p > input[type=checkbox]:hover:disabled:checked + label,
p > input[type=checkbox]:focus:disabled:checked + label,
p > input[type=checkbox]:disabled:checked + label:hover,
p > input[type=checkbox]:disabled:checked + label:hover:active	{ background-position: 0 -141px; }
p > input[type=radio]:disabled:checked + label,
p > input[type=radio]:hover:disabled:checked + label,
p > input[type=radio]:focus:disabled:checked + label,
p > input[type=radio]:disabled:checked + label:hover,
p > input[type=radio]:disabled:checked + label:hover:active		{ background-position: 0 -301px; }