/**********************************************
 * Main stylesheet for Noe Pond Club
 * by Max Kramer
 * http://maxkramer.me/
 **********************************************/
@font-face {
    font-family: 'AllerLightRegular';
    src: url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.eot');
    src: local('?'), url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.eot?iefix') format('eot'), url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.woff') format('woff'), url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.ttf') format('truetype'), url('../fonts/aller-fontface/aller_lt-webfont.svg#webfontywfdQTlG') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeanderRegular';
    src: url('http://maxkramer.me/fonts/leander/Leander-webfont.eot');
    src: url('http://maxkramer.me/fonts/leander/Leander-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://maxkramer.me/fonts/leander/Leander-webfont.woff') format('woff'),
         url('http://maxkramer.me/fonts/leander/Leander-webfont.ttf') format('truetype'),
         url('http://maxkramer.me/fonts/leander/Leander-webfont.svg#LeanderRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$teal: #43b3ae; /* Verdigris */
$green: #cfc;

.clear {
  clear: both;
}
/* Reset */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
/* Styles start */
body {
	background-color: #86C9EF;
	color: #4C4C4B;
  font-family: AllerLightRegular, sans-serif;
  font-size: 1em;
	margin: 40px auto;
  padding: 0px;
  width: 960px;
}
/* Containers */
#bar {
	background-color: $green;
	line-height: 200%;
	margin: 0px;
	padding: 0px 20px;
	z-index: 100;
}
body > header {
	background: $teal;
	border-radius: 10px 0 0 10px;
	clear: both;
	margin-left: 150px;
	padding: 5px 5px 5px 250px;
	height: 50px;
  h1 {
    background: url(http://maxkramer.me/projects/npc/images/logo/logo5-cut.png) no-repeat;
    height: 185px;
    left: -330px;
    position: relative;
    text-indent: -10001px;
    top: -90px;
    width: 150px;
    z-index: 101;
  }
  h2 {
    font: bold 38px LeanderRegular, serif;
    left: -150px;
    position: relative;
    top: -235px;
  }
  h3 {
    font: normal 24px LeanderRegular, serif;
    left: 200px;
    position: relative;
    top: -308px;
  }
  a:link, a:visited {
    color: white;
    text-shadow: 0 0 2px $teal;
  }
  a:hover {
    text-decoration: none;
    text-shadow: 0 0 2px white;
  }
}
body > aside {
  background: $teal;
	border-radius: 10px;
	float: left;
  margin: 0px;
	overflow: hidden;
	padding: 0px;
  width: 250px;
}
body > footer {
	background: $teal;
	border-radius: 10px;
	clear: both;
	color: white;
	margin-top: 20px;
	padding: 10px;
  p {
	text-align: center;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: #4C4C4B;
  }
}
#validator {
	background: white;
	border-radius: 10px;
	color: $teal;
  font-size: smaller;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
  a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 1px dotted black;
    color: black;
  }
}
#content {
	float: right;
	background-color: $teal;
	border-radius: 10px;
	overflow: hidden;
	width: 695px;
  > div {
    padding: 10px;
  }
}
#info {
	margin: 0 0 40px 0;
	padding: 0px;
}
nav.top, nav.info {
	background: white;
	font-size: 90%;
	padding: 5px;
	ul {
    margin: 0 0 20px 0;
    padding: 0px;
    list-style-type: none;
    li {
      float: left;
      line-height: 110%;
      padding: 4px 6px;
    }
  }
  a:link, a:visited {
    color: inherit;
  }
  a.locked:hover {
    color: #C32148;
  }
}
nav.top {
  border-radius: 10px 10px 0 0;
  margin-left: 370px;
}
nav.info {
  border-radius: 0 0 10px 10px;
	margin: 0 0 10px 370px;
}
body > aside {
  h1 {
    background: white; /*#aab;*/
    font-size: 125%;
    margin: 0px;
    padding: 5px;
  }
  h2 {
    background: lightgray;
    border-radius: 10px;
    font-size: 90%;
    margin: 0px 20px;
    padding: 6px;
  }
  h1 + h2 {
    border-radius: 0 0 10px 10px;
  }
  p {
    clear: both;
    padding: 0px;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      margin: 0px;
      border-top: 1px solid gray;
      text-align: left;
      a {
        display: block;
        border-left: 0.5em solid gray;
        background-color: lightgray;
        padding: 0.25em 0.5em 0.25em 0.75em;
        text-decoration: none;
      }
      a:link, a:visited { color: #448; }
      a:hover {
        background-color: #332;
        border-color: #43B3AE;
        color: #FFF;
      }
      a.locked { background-position: right center; }
      a.locked:hover {
        background-color: #f00;
        border-color: #c00;
        color: white;
      }
      ul {
        li {
          a {
            border-left-width: 1em;
          }
        }
      }
    }
  }
  .social {
    ol {
      border-radius: 5px;
      list-style-type: none;
      margin: 3px 10px;
      padding: 0;
      overflow: hidden;
      li {
        background-color: white;
        border-top: 1px dashed black;
        min-height: 50px;
        padding: 4px;
        img {
          float: left;
          margin: 0 8px 8px 0;
        }
        .time_ago {
          color: gray;
          font-size: 80%;
          text-align:right;
        }
        a {
          display: block;
        }
        a:hover {
          text-decoration: none;
        }
      }
      li:hover {
        background-color: lightgray;
      }
      li.first {
        border-top: none;
      }
    }
  }
  .weather {
    > div {
      background-color: white;
      border-radius: 5px;
      margin: 3px 10px;
      overflow: hidden;
      h3 {
        font-size: 110%;
        margin: 0;
        padding: 0;
        text-align: right;
      }
    }
    > .current-conditions {
      padding: 10px 10px 10px 52px;
    }
    > .forecast {
      > div {
        padding: 10px 10px 10px 52px;
      }
    }
  }
}
#gallery-side
{
	/*text-align: center;*/
}
nav.toc {
	color: white;
	font: 14px georgia, serif;
  h1 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: inline;
  }
  h1:after {
    content: ":";
  }
  ol {
    display:inline;
    margin:0;
    padding:0;
    counter-reset:item;
  }
  li {
    color: white;
    display:inline;
    margin:0;
    padding:0px 5px;
    counter-increment:item;
  } 
  a, a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 1px white dotted;
  }
  li:before {
    content:counter(item, upper-roman) ". ";
  }
}
#topofpage
{
	text-align: right;
}
/********************************
 *		Global classes			*
 ********************************/
abbr {
	
}
abbr:hover {
	cursor: help;
}
a img {
	border: none;
}
#content {
  h1 {
    color: white;
    margin: 15px;
  }
}
#content article
{
	background-color: $green;
  padding: 10px;
	section {
    margin: 10px;
  }
  h1, h2, h3 {
    font-weight: normal;
    padding-top: 0px;
    margin-top: 0px;
    border-bottom: 4px gray double;
  }
  h3 {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px gray solid;
  }
  h4 {
    font-size: 17px;
    margin: 5px 25px;
    text-align: center;
  }
  p {
    font-size: 110%;
  }
  h1 + p:first-letter {
    font-size: 150%;
  }
  a {
    color: inherit;
    border-bottom: 1px black dotted;
    text-decoration: none;
  }
  a:hover {
    color: #aaa;
    border-color: #aaa;
  }
  .featured {
    background-color: #ffc;
    margin: 10px 20px;
    padding: 20px;
    h2, h3 {
      border: none;
    }
    h2 {
      text-align: right;
    }
  }
}
nav .locked {
	background-image: url('http://maxkramer.me/projects/npc/images/link/locked-12.png');
	background-position: right top;
	background-repeat: no-repeat;
	padding-right: 14px;
}
/********************************
 *		Event calendar			*
 ********************************/
#events {
	/*background: inherit;*/
	/*border: 2px white solid;*/
  table {
    background: white;
    border-collapse: collapse;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
    width: 210px;
    thead {
      background: #ccd;
    }
    tbody {

    }
    tfoot {
      color: blue;
      text-align: left;
    }
    td {
      /*border: 1px black dotted;*/
    }
    th a {
      text-decoration: none;
    }
    th a:hover
    {
      border-bottom: 1px blue dotted;
    }
    td a, td a:link {
      display: block;
      height: 100%;
      text-decoration: none;
      width: 100%;
    }
    td a:hover {
      
    }
    td:hover {
      background-color: $green;
    }
    tr.swimming th, #events table tr.swimming td {
      background-color: #0cf;
    } 
    tr.tennis td {
      background-color: #0f3;
    }
  }
  ul {
    margin: 1px auto;
    li {
      list-style-type: none;
      span {
        color: blue;
        font-size: smaller;
        padding-right: 15px;
      }
    }
  }
}
/********************************
 *			Info box			*
 ********************************/
#info > div
{
	border-radius: 10px;
	margin: 0px;
	padding: 10px;
}
#info {
  h1, h2, h3 {
    font-weight: normal;
    margin: 5px 20px;
  }
  h2 {
    padding: 0px 20px;
  }
  h3 {
    padding: 0px 20px;
    text-align: right;
  }
  a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: #696969;
    text-decoration: underline;
  }
  .warning {
    background: red;
    color: white;
  }
  .caution {
    background: yellow;
  }
  .message {
    background: $teal;
  }
  img {
    float: right;
    height: 128px;
    margin-right: 10px;
    width: 128px;
  }
}
.post {
  p {
    margin: 0.5em 0.5em;
  }
  .author {
    font-size: 85%;
    text-align: right;
    padding: 0 !important;
  }
  .readmore {
    text-align: right;
    a {
      background-color: white;
      border: none !important;
      padding: 6px 7px;
    }
  }
}
address {
  font-style: normal;
}
address.postal {
  background-color: white;
  margin: 0 20px;
  padding: 10px;
  span {
    display: block;
  }
}
/* */
table.reservations {
  border-collapse: collapse;
  border-radius: 5px;
  border-spacing: 0;
  margin: 10px auto;
  overflow: hidden;
  width: 90%;
  thead {
    background-color: lightgray !important;
    font-size: 110%;
    tr {
      th, td {
        padding: 8px;
      }
    }
  }
  tbody {
    background-color: white;
    tr {
      th, td {
        padding: 5px;
      }
      th {
      
      }
      td {
        text-align: center;
      }
    }
  }
  tfoot {
    background-color: lightgray !important;
    font-size: 80%;
    text-align: right;
    tr {
      th, td {
        padding: 8px;
      }
    }
  }
}
ol.links {
  background-color: white;
  float: right;
  list-style-type: none;
  margin: 25px 0;
  padding: 10px;
  li {
    display: inline;
    padding: 5px;
  }
  li + li {
    border-left: 1px solid gray;
    padding-left: 8px;
  }
}
ol.requirements,
ol.privileges {
  margin: 5px 50px;
  li {
  
  }
}