/***************************
 * Weather 
 ***************************/
@mixin bg-style {
  background-position: 10px 25px;
  background-repeat: no-repeat;
}
@mixin icon-style {
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 32px;
}
/* Tornado, tropical storm, hurricane */
body.weather-0,
body.weather-1, 
body.weather-2 {
  background-color: lightgray;
  /*background-image: url('');*/
    @include bg-style;
    > aside .weather .current-conditions {
    /*background-image: url('');*/
    @include icon-style;
  }
}
.forecast > .weather-0,
.forecast > .weather-1,
.forecast > .weather-2 {
  /*background-image: url('');*/
  @include icon-style;
}
/* Thunderstorms */
body.weather-3,
body.weather-4,
body.weather-37,
body.weather-38,
body.weather-39,
body.weather-45,
body.weather-47 {
  background-color: #669;
  background-image: url('http://maxkramer.me/images/weather/Thunderstorms.png');
  @include bg-style;
    > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Thunderstorms.png');
    @include icon-style;
  }
}
.forecast > .weather-3,
.forecast > .weather-4,
.forecast > .weather-37,
.forecast > .weather-38,
.forecast > .weather-39,
.forecast > .weather-45,
.forecast > .weather-47 {
  background-image: url('http://maxkramer.me/images/weather/Thunderstorms.png');
  @include icon-style;
}
/* Mixed rain, snow, sleet */
body.weather-5,
body.weather-6,
body.weather-7 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Rain_Or_Snow.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Rain_Or_Snow.png');
    @include icon-style;
  }
}
.forecast > .weather-5,
.forecast > .weather-6,
.forecast > .weather-7 {
  background-image: url('http://maxkramer.me/images/weather/Rain_Or_Snow.png');
  @include icon-style;
}
/* Freezing rain or drizzle, or sleet */
body.weather-8,
body.weather-10,
body.weather-18 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Freezing_Rain.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Freezing_Rain.png');
    @include icon-style;
  }
}
.forecast > .weather-8,
.forecast > .weather-9,
.forecast > .weather-10 {
  background-image: url('http://maxkramer.me/images/weather/Freezing_Rain.png');
  @include icon-style;
}
/* Rain */
body.weather-9,
body.weather-11,
body.weather-12,
body.weather-40 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Rain.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Rain.png');
    @include icon-style;
  }
}
.forecast > .weather-9,
.forecast > .weather-11,
.forecast > .weather-12,
.forecast > .weather-40 {
  background-image: url('http://maxkramer.me/images/weather/Rain.png');
  @include icon-style;
}
/* Snow */
body.weather-13,
body.weather-14,
body.weather-15,
body.weather-16,
body.weather-41,
body.weather-42,
body.weather-43,
body.weather-46 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Snow.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Snow.png');
    @include icon-style;
  }
}
.forecast > .weather-13,
.forecast > .weather-14,
.forecast > .weather-15,
.forecast > .weather-16,
.forecast > .weather-41,
.forecast > .weather-42,
.forecast > .weather-43,
.forecast > .weather-46 {
  background-color: #fff;
  background-image: url('http://maxkramer.me/images/weather/Snow.png');
  @include bg-style;
}
/* Hail */
body.weather-17,
body.weather-35 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Freezing_Rain.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Freezing_Rain.png');
    @include icon-style;
  }
}
.forecast > .weather-17,
.forecast > .weather-35 {
  background-image: url('http://maxkramer.me/images/weather/Freezing_Rain.png');
  @include icon-style;
}
/* Fog and low-visibility */
body.weather-19,
body.weather-20,
body.weather-21,
body.weather-22 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Fog.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Fog.png');
    @include icon-style;
  }
}
.forecast > .weather-19,
.forecast > .weather-20,
.forecast > .weather-21,
.forecast > .weather-22 {
  background-image: url('http://maxkramer.me/images/weather/Fog.png');
  @include icon-style;
}
/* Windy */
body.weather-23,
body.weather-24 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Fog.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Fog.png');
    @include icon-style;
  }
}
.forecast > .weather-23,
.forecast > .weather-24 {
  background-image: url('http://maxkramer.me/images/weather/Fog.png');
  @include icon-style;
}
/* Cold */
body.weather-25 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Flurries.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Flurries.png');
    @include icon-style;
  }
}
.forecast > .weather-25 {
  background-image: url('http://maxkramer.me/images/weather/Flurries.png');
  @include icon-style;
}
/* Cloudy, day */
body.weather-26,
body.weather-44 {
  background: #86C9EF url(http://maxkramer.me/images/weather/Cloudy.png) top left no-repeat;
  > aside .weather .current-conditions {
    background: #fff url(http://maxkramer.me/images/weather/Cloudy.png) left center no-repeat;
    background-position: 10px;
    background-size: 32px;
  }
}
.forecast > .weather-26,
.forecast > .weather-44 {
  background: #fff url(http://maxkramer.me/images/weather/Cloudy.png) left center no-repeat;
  background-position: 10px;
  background-size: 32px;
}
/* Partly cloudy, day */
body.weather-30 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Mostly_Sunny.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Mostly_Sunny.png');
    @include icon-style;
  }
}
.forecast > .weather-30 {
  background-image: url('http://maxkramer.me/images/weather/Mostly_Sunny.png');
  @include icon-style;
}
/* Mostly cloudy, day */
body.weather-28 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Mostly_Cloudy.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Mostly_Cloudy.png');
    @include icon-style;
  }
}  
.forecast > .weather-28 {
  background-image: url(http://maxkramer.me/images/weather/Mostly_Cloudy.png) left center no-repeat;
  @include icon-style;
}
/* Cloudy, night */
body.weather-27,
body.weather-29 {
  background-color: #669;
  background-image: url('http://maxkramer.me/images/weather/Cloudy_Period.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Cloudy_Period.png');
    @include icon-style;
  }
}
.forecast > .weather-27,
.forecast > .weather-29 {
  background-image: url('http://maxkramer.me/images/weather/Cloudy_Period.png');
  @include icon-style;
}
/* Sunny, clear, day */
body.weather-32,
body.weather-34,
body.weather-36 {
  background-color: #86C9EF;
  background-image: url('http://maxkramer.me/images/weather/Sunny.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Sunny.png');
    @include icon-style;
  }
}
.forecast > .weather-32,
.forecast > .weather-34,
.forecast > .weather-36 {
  background-image: url('http://maxkramer.me/images/weather/Sunny.png');
  @include icon-style;
}
/* Clear, night */
body.weather-31,
body.weather-33 {
  background-color: #003;
  background-image: url('http://maxkramer.me/images/weather/Clear.png');
  @include bg-style;
  > aside .weather .current-conditions {
    background-image: url('http://maxkramer.me/images/weather/Clear.png');
    @include icon-style;
  }
}
.forecast > .weather-31,
.forecast > .weather-33 {
  background-image: url('http://maxkramer.me/images/weather/Clear.png');
  @include icon-style;
}