#intro {
  background: #43B3AE;
  margin-bottom: 10px;
  padding: 10px 0px;
  width: 100%;
  border-radius: 10px; }

/* SLIDER */
#slider {
  background-color: #cfc;
  width: 600px;
  /* important to be same as image width */
  height: 300px;
  /* important to be same as image height */
  margin-left: 10px;
  /* center the slider container */
  position: relative;
  /* important */
  overflow: hidden;
  /* important */
  padding: 0px;
  box-shadow: 0px 0px 5px black; }

#slider:hover {
  /*box-shadow: 0px 0px 5px white;*/ }

#sliderContent {
  width: 600px;
  /* important to be same as image width or wider */
  position: absolute;
  /* important */
  top: 0px;
  /* important */
  margin-left: 0px;
  /* important */
  margin: 0px;
  padding: 0px; }

.sliderImage {
  float: left;
  /* important */
  position: relative;
  /* important */
  display: none;
  /* important */
  margin: 0px;
  padding: 0px; }
  .sliderImage span {
    position: absolute;
    /* important */
    padding: 10px 13px;
    /*  */
    width: 100%;
    /*  */
    background-color: #cfc;
    /* background color of span */
    filter: alpha(opacity=70);
    /* here you can set the opacity of box with text */
    -moz-opacity: 0.7;
    /* here you can set the opacity of box with text */
    -khtml-opacity: 0.7;
    /* here you can set the opacity of box with text */
    opacity: 0.7;
    /* here you can set the opacity of box with text */
    color: #000;
    /* color of the text */
    display: none;
    /* important */
    font-family: Myriad Pro, Helvetica, Arial, sans-serif;
    font-size: 10px/15px;
    font-weight: normal; }
    .sliderImage span h1 {
      font-size: 18px;
      padding: 0px;
      margin: 0px; }

.top {
  top: 0;
  left: 0; }

.bottom {
  bottom: 0;
  left: 0; }

.left {
  top: 0;
  left: 0;
  width: 110px !important;
  height: 280px; }

.right {
  right: 0;
  bottom: 0;
  width: 90px !important;
  height: 290px; }

/*********** News ******************/
#news {
  float: right;
  margin-right: 20px; }
  #news a:link, #news a:visited {
    color: inherit;
    display: block; }
  #news a:hover {
    text-decoration: none; }
  #news h1 {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center; }
  #news img {
    height: 64px;
    margin-right: 10px;
    vertical-align: middle;
    width: 64px; }

#news2 {
  margin-top: 20px;
  margin-right: 20px; }
  #news2 a:link, #news2 a:visited {
    color: inherit;
    display: block; }
  #news2 a:hover {
    text-decoration: none; }
  #news2 img {
    height: 64px;
    margin-right: 10px;
    vertical-align: middle;
    width: 64px; }

#news > div,
#news2 > div {
  background-color: #cfc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  overflow: hidden;
  width: 295px; }

#news > div {
  margin-top: 12px; }

#news.large > div {
  margin-top: 20px; }

#news2 > div {
  float: right;
  margin-right: 20px; }

#news > div:hover,
#news2 > div:hover {
  color: #43B3AE;
  -webkit-box-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white; }

#news:first-child {
  margin-top: 0px; }

#news2:first-child,
#news2 > .first {
  margin-right: 0px; }
