#news.large
  %h1 Programs
  %div
    %a{:href => "/prospective/teams/swimming"}
      %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/swimming.png"}
      Swim team
  %div
    %a{:href => "/prospective/teams/tennis"} 
      %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/tennis.png"} 
      Tennis team
  %div
    %a{:href => "/prospective/kids-program"}
      %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/swimming.png"}
      Kids' Program
#slider
  %ul#sliderContent
    %li.sliderImage{:style => "display: block;"}
      %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/01.jpg" }
      %span.bottom{ :style => "display: block;"}
        %h1 Beach
        The beautiful beach and water.
    %li.sliderImage{:style => "display: none;"}
      %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/02.jpg" }
      %span.bottom{ :style => "display: none;"}
        %h1 Waves in the water
        Come swim in the water.  Only small waves.
    %li.sliderImage{:style => "display: none;"}
      %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/03.jpg" }
      %span.bottom{ :style => "display: none;"}
        %h1 Sunset
        View a beautiful sunset across the water at night.
    %div{ :class => "clear sliderImage" }
.clear
#news2
  %div.first
    %a{:href => "/prospective/teams/diving"}
      %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/diving.png"}
      Dive team
  %div
    %a{:href => "/prospective/teams/watershow"}
      %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/swimming.png"}
      Water show
  %div
    %a{:href => "/prospective/events"}
      %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/swimming.png"}
      Special events
.clear