- content_for :title, "Employment"
%article
  %section
    %p The Noe Pond Club offers employment opportunities to mature, responsible, and hard working individuals who like to handle a variety of responsibilities in a fun environment. Full and part-time positions are periodically available. Positions include:
    %ul
      %li 
        %a{:href => "#lifeguard"} Lifeguard
      %li 
        %a{:href => "#office"} Office and Concession Stand Staff
      %li 
        %a{:href => "#counselor"} Kids' Program Counselor
      %li 
        %a{:href => "#maintenance"} Maintenance Staff
      %li Swim Team Coach
      %li Tennis Coach & Instructor
      %li Paddle Tennis Coach & Instructor
      %li Site Caretaker
      %li Kid's Program Coordinator
      %li Assistant Manager
    %p 
      The Club is an Equal Opportunity Employer that offers competitive wages. If you are interested in learning more about employment opportunities, please call 
      %a{:href => "tel:973-377-2445"} 973-377-2445
      or write to 
      %address{:class => "postal pobox"} 
        %span{:class => "name"} Noe Pond Club
        %span{:class => "line1"} P.O. Box 360
        %span{:class => "city-state-zip"} Chatham, NJ 07928-0360
  %section
    %h2#lifeguard Lifeguarding
    %img{:src => "http://maxkramer.me/projects/npc/images/intro-3cols-cam.jpg", :style => "float: right; border-radius: 5px; box-shadow: 0 0 3px black;"}
    %p Noe prides itself on hiring bright, athletic, skilled lifeguards.  Guards participate in in-service training twice a week (with skills and times recorded) and do a lot of non-guarding tasks, such as beach and court maintenance.
    %p Applicants must be ready for a challenge.
    %p Guards are expected to learn emblem system, rules, and make an effort to engage the members by learning names and being polite.
    %h2#office Office & CHG staff
    %p These staff members do not do much. Perfect for lazy people. Or crabby people.
    %h2#maintenance Maintenance
    %p Tasks include landscaping, tennis court maintenance, and assisting the caretaker and assistant caretaker.
    %h2#counselor Counselor
    %p The Kids' Program is always looking for smart, young people to lead the kids.
    %p Applicants should be good role-models for young children.
    