- content_for :title, "Family"
%article
  %section
    %h2 What do families mean to Noe?
    %p Everything.
    %p Noe Pond was started to create a fun, exciting environment for families.
    %h2 Family spotlight: The Kramers
    %p Chuck Kramer grew up at NPC soon after it opened in 1955.  After starting his family, he returned to Noe to share the experiences he enjoyed as a child.
    %p 
    %p Alex, Max, Cam, and Kelsey participated in swim team, dive team, watershow, and the tennis team.
    %p The kids grew up to work at the Kids' Program and then joined the club's staff as lifeguards and office staff.