- content_for :title, "History"
:css
  .timeline h3 {border: none !important; text-align:right;}
%article
  %section.timeline
    %h2 1950-74
    %h3 1955
    %p Club opens.
    %h2 1975-1999
    %h3 1990
    %p Charlie LaMantia takes over as Head Caretaker after working at the club for 10 years.
    %h2 2000-present
    %h3 2005
    %p 50<sup>th</sup> Anniversary celebration
    %h3 2011
    %p 
      The log roll debuts in the waterfront.  New website launch, created by 
      %a{ :href => "http://maxkramer.me" } Max Kramer.