- content_for :title, "Home"
- content_for :intro do
  #news
    %h1 Highlights
    %div
      %a{:href => root_url}
        %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/swimming.png"}
        Swim meet is June 7th at 9am
    %div
      %a{:href => "#sdfsf"} 
        %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/tennis.png"} 
        Tennis team is undefeated
    %div
      %a{:href => "#"}
        %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/diving.png"}
        Diving meet Tuesday night
  #slider
    %ul#sliderContent
      %li.sliderImage{:style => "display: block;"}
        %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/01.jpg" }
        %span.bottom{ :style => "display: block;"}
          %h1 Beach
          The beautiful beach and water.
      %li.sliderImage{:style => "display: none;"}
        %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/02.jpg" }
        %span.bottom{ :style => "display: none;"}
          %h1 Waves in the water
          Come swim in the water.  Only small waves.
      %li.sliderImage{:style => "display: none;"}
        %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/03.jpg" }
        %span.bottom{ :style => "display: none;"}
          %h1 Sunset
          View a beautiful sunset across the water at night.
      %div{ :class => "clear sliderImage" }
%article
  %section
    %h2 Welcome to the Noe Pond Club
    %p The Noe Pond Club was founded in 1955 as a member-owned, non-profit family swim club by Nancy Tasman Brower and Bailey Brower Jr. The three-and-a-half-acre pond, the Club's hallmark, has been an important part of the community and Brower family history since the early 1800's. The pond was created for the family's large dairy and fruit farm. During the winters, the pond was the local source of ice.
    %p The first year of operation simply comprised of a pond, gray sand beach, dusty gravel parking lot, and a site with no landscaping. Today, the Club boasts a large dock, diving boards, slides, a float, a variety of small boats, a second beach, fountains, Har-Tru and turf tennis courts, paddle courts, a paddle hut, a pavilion, playgrounds, a snack bar, picnic areas, club house with locker rooms, a paved parking lot, and well-maintained grounds.
    %p Families spend "quality time" participating in many different activities and simply having fun together. Generations of families have learned to swim, dive, play tennis, and play paddle tennis. The swimming emblem program provided incentive to thousands of children to learn to swim at a very young age. The Club has also offered hundreds of teenagers their first employment experience.
    %p The successful club "recipe" has been developed by Taz, Bailey, and many board directors over the past several decades. Club operations are now under the leadership of Kim Brower Barton and Chuck Barton. This club is a community gemstone that will continue for generations.