- content_for :title, "Hours"
- content_for :subtitle, "Hours of operation"
%article
  %section
    %h2 Summer
    %table.reservations
      %thead
      %tbody
        %tr
          %th{:style=> "width:50%;"} Tennis
          %td 9:00am-8:00pm
        %tr
          %th Waterfront
          %td 10:30am-7:30pm
        %tr
          %th Office
          %td 9:00am-8:00pm
        %tr
          %th Club House Grill
          %td 10:30am-7:30pm
        %tr
          %th Business office
          %td 9:00am-5:00pm
    %p Please note that the waterfront will begin to close at 7:15pm or 7:00pm as the summer comes to a close.  As the days shorten, the visibility is too low to keep the waterfront open until 7:30pm.
    %h2 Winter
    %table.reservations
      %tbody
        %tr
          %th{:style=> "width:50%;"} Paddle
          %td 10:00am-10:00pm
        %tr
          %th Business office
          %td 9:00am-5:00pm