- content_for :title, "Prospective"
- content_for :subtitle, "Swim team"
- content_for :intro do
  = render 'prospective-intro'
%article
  %section
    %h2 What we are about?
    %p Having fun.  And the wins are nice.
    %h2 Who do we swim?
    %p We swim in the Town & Country Swim League.