- content_for :title, "Prospective"
- content_for :subtitle, "The emblems"
- content_for :intro do
  = render 'prospective-intro'
%article
  %section
    %h2 What makes up the emblem system?
    %p The emblems provide a program of learning that ensures a strong development and understanding of swimming.
    %h2 The emblems
    %h3 Red frog
    %p Basic emblem. Starter.
    %h3 Blue frog
    %p 
    %h4 Requirements
    %ol.requirements
      %li 10 foot doggie paddle
      %li Front float
      %li Back float
      %li Underwater swim
    %h4 Privileges
    %ol.privileges
      %li Jump off blue frog dock
    %h3 Green fish
    %p 
    %h4 Requirements
    %ol.requirements
      %li Doggie paddle (15 yards)
      %li Elementary backstorke (15 yards)
      %li Rythmic breathing
      %li Green fish dock jump and swim
    %h4 Privileges
    %ol.privileges
      %li Jump off green fish dock
      %li Far beach and silver slide
    %h3 Gold fish
    %p 
    %h4 Requirements
    %ol.requirements
      %li Freestyle (front crawl) (25 yards)
      %li Elementary backstroke (25 yards)
      %li Backstroke (25 yards)
      %li Surface dive
      %li Treading water
    %h4 Privileges
    %ol.privileges
      %li Diving boards
      %li Jump off 2 sides of float (side with ladder and side facing main beach)
      %li Aerobics bars
      %li Cannot swim between the main beach and float
    %h3 Red shark
    %p 
    %h4 Requirements
    %ol.requirements
      %li 10 minute swim in deep water with assorted strokes
      %li Freestyle (front crawl)
      %li Breastroke
      %li Sidestroke
    %h4 Privileges
    %ol.privileges
      %li Can swim from the float to the main beach
      %li Can utilize all 4 sides of the float
      %li Yellow slide
      %li Log roll
    %h3 Maroon shark
    %p 
    %h4 Requirements
    %ol.requirements
      %li 30 minute swim in deep water with assorted strokes
      %li Mastery of 10 strokes
      %li 12 yard underwater swim
      %li 5 minute float
    %h4 Privileges
    %ol.privileges
      %li Trampoline
      %li Rafts
    %h3 Silver dolphin
    %p
    %h4 Requirements
    %ol.requirements
      %li Lots
    %h4 Privileges
    %ol.privileges
      %li Boats, except for kayaks
    %h3 Golden dolphin
    %p You must be 11 years old before you can attempt to enter into the Order of the Golden Dolphin.
    %h4 Requirements
    %ol.requirements
      %li Two-mile front crawl swim in deep water
      %li Maroon shark review
      %li Rescue techniques
      %li Survival swim
      %li CPR
    %h4 Privileges
    %ol.privileges
      %li Use of any of the boats (except for the staff-only boats)