- content_for :title, "Prospective"
- content_for :subtitle, "Special events"
- content_for :intro do
  = render 'prospective-intro'
%article
  %section
    %h2 What kind of events do we have?
    %p By and far the most popular events are Fun Day and DJ Night.  These two days have a lot of tradition.
    %ul
      %li Family Fun Day
      %li DJ Night
      %li Anniversary celebrations
      %li Ladies' Night
      %li Teen Party
      %li Tennis tournaments