- content_for :title, "Prospective"
- content_for :subtitle, "Prospective members"
- content_for :intro do 
  = render 'prospective-intro'
%article
  %section
    %h2 Welcome
    %p Noe Pond Club is the bestest.
    %h2 What makes this place special?
    %ul
      %li
        %a{:href => "/prospective/emblems"} Emblem system
      %li
        %a{:href => "/about/family"} Family
    %h2 Summer activities
    %ul
      %li
        %a{:href => "/prospective/teams/swimming"} Swim team
      %li
        %a{:href => "/prospective/teams/diving"} Diving team
      %li
        %a{:href => "/prospective/teams/tennis"} Tennis team
      %li
        %a{:href => "/prospective/teams/watershow"} Water show
      %li
        %a{:href => "/prospective/events"} Special events
    %h2 Winter activities
    %ul
      %li
        %a{:href => "/prospective/winter"} Skating and holidays
      %li
        %a{:href => "/prospective/paddle"} Paddle tennis
      %li
        %a{:href => "/prospective/teams/paddle"} Paddle team
    %h2 Explore the club
    %div{:style=>"margin:5px auto; border-radius: 5px; background-color:white; padding: 10px; width: 550px;"}
      <iframe width="550" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=202355394744591052652.0004a3789f368edc17773&amp;ie=UTF8&amp;t=h&amp;ll=40.736283,-74.424906&amp;spn=0.003658,0.004839&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=202355394744591052652.0004a3789f368edc17773&amp;ie=UTF8&amp;t=h&amp;ll=40.736283,-74.424906&amp;spn=0.003658,0.004839&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">Noe Pond Club</a> in a larger map</small>