- content_for :title, "Prospective"
- content_for :subtitle, "Paddle"
- content_for :intro do
  = render 'prospective-intro'
%article
  %section
    %h2 What is paddle tennis?
    %p Similar to tennis, but smaller courts and no alleys.  Emphasizes quick reactions and net play.
    %h2 What are the facilities?
    %p Four platform courts that are open during the winter season.