- content_for :title, "Prospective"
- content_for :subtitle, "Watershow"
- content_for :intro do
  = render 'prospective-intro'
%article
  %section
    %h2 What is the watershow?
    %p The watershow is a synchronized swimming event at the club.  Children practice under the direction of two staff members for about 2 weeks of practice.  Then the show is performed two days on the weekend.
    %h2 Do lifeguards ever participate?
    %p Yes.  The lifeguards often choreograph and perform their own piece during the second performance of the show.  The staff really enjoys participating.