- content_for :title, "Prospective"
- content_for :subtitle, "Prospective members"
- content_for :intro do 
  = render 'prospective-intro'
%article
  %section
    %h2 Welcome
    %p Noe Pond Club is the bestest.
    %h2 What makes this place special?
    %ul
      %li
        %a{:href => "/prospective/emblems"} Emblem system
      %li
        %a{:href => "/about/family"} Family
    %h2 Summer activities
    %ul
      %li
        %a{:href => "/prospective/teams/swimming"} Swim team
      %li
        %a{:href => "/prospective/teams/diving"} Diving team
      %li
        %a{:href => "/prospective/teams/tennis"} Tennis team
      %li
        %a{:href => "/prospective/teams/watershow"} Water show
      %li
        %a{:href => "/prospective/events"} Special events
    %h2 Winter activities
    %ul
      %li
        %a{:href => "/prospective/winter"} Skating and holidays
      %li
        %a{:href => "/prospective/paddle"} Paddle tennis
      %li
        %a{:href => "/prospective/teams/paddle"} Paddle team
      