- content_for :title, "Prospective"
- content_for :subtitle, "Tennis team"
- content_for :intro do
  = render 'prospective-intro'
%article
  %section
    %h2 What we are about?
    %p Having fun.  And the wins are nice.
    %h2 When do we play?
    %p Summer.
    %h2 What skill levels are welcome?
    %p All.
    %h2 Who do we play?
    %p We play in the Town & Country League.