- content_for :title, "Prospective"
- content_for :subtitle, "Winter activities"
- content_for :intro do
  = render 'prospective-intro'
%article
  %section
    %h2 What is there to do?
    %p 
      In addition to 
      %a{:href => "/prospective/paddle"} paddle tennis
      , there are many winter activities at NPC.
    %ul
      %li Ice skating
      %li Hockey
      %li Easter
      %li Christmas
    %h2 Ice skating
    %p When the pond freezes to a safe thickness, Noe will be open for ice skating.  The winter activities often revolve around the fireplace (between the upper playground and boating area).
    %p Hockey is often played as well.  Children of all ages (and their parents) enjoy sliding around.
    %h2 Holidays
    %p During summer's offseason, Noe hosts a little celebration for a few holidays.  Families are invited to meet Santa and the Easter Bunny.