- content_for :title, "Swimming"
- content_for :subtitle, "Swim team"
%article
  %section
    %h2 About
    %p The competitive swimming squad for NPC.
    %h2 Who can join?
    %p Anyone that is at least a gold fish.
    %h2 Coaches
    %p Head: Brittany Ross
    %p Assistant: Shannon McManus