- content_for :title, "Reservations"
- content_for :subtitle, "New tennis reservation"
%article
  %section
    .for= @member.display
    .clear
    = render 'form'
    %p= link_to 'Back', member_tennis_reservations_path(@member)